# =============================================================================
# General
# ============================================================================= 
GOSTRA_ENV=dev

# =============================================================================
# Transport
# ============================================================================= 
GOSTRA_CURL_PATH=/opt/vendor/bin/amd64/curl
GOSTRA_CERT_THUMBPRINT=00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff
GOSTRA_TIMEOUT=30
GOSTRA_VERIFY_TLS=false

# =============================================================================
# API
# =============================================================================
GOSTRA_API_BASE_URL=https://service-host
GOSTRA_API_VERSION=1.0

# =============================================================================
# Logging
# =============================================================================
GOSTRA_LOG_LEVEL=DEBUG
GOSTRA_LOG_DIR=./logs
GOSTRA_HTTP_LOG_DIR=./logs/http

# =============================================================================
# Development
# =============================================================================
GOSTRA_DEBUG_HTTP=true
GOSTRA_SAVE_RAW_RESPONSES=true
