# =============================================================================
# General
# ============================================================================= 
RADS_ENV=dev

# =============================================================================
# Transport
# ============================================================================= 
RADS_CURL_PATH=/opt/solution/bin/amd64/curl
RADS_CERT_THUMBPRINT=00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff
RADS_TRANSPORT=curl
RADS_TIMEOUT=30
RADS_VERIFY_TLS=false

# =============================================================================
# API
# =============================================================================
RADS_API_BASE_URL=https://service-host
RADS_API_VERSION=1.0

# =============================================================================
# Logging
# =============================================================================
RADS_LOG_LEVEL=DEBUG
RADS_LOG_DIR=./logs
RADS_HTTP_LOG_DIR=./logs/http

# =============================================================================
# Development
# =============================================================================
RADS_DEBUG_HTTP=true
RADS_SAVE_RAW_RESPONSES=true
